.iridescence-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.iridescence-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
